@Model αbetik.ELibrary.MvcWebUI.Models.PersonListViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <div>
        @foreach (var person in Model.People)
        {
            @person.FirstName
            <br />
        }
    </div>
</body>
</html>
